.questions-container{
    width: 90%;
    margin: 100px auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 15px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.options-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.quiz-ques{
    color: rgb(10, 41, 107);
    font-size: 1.1rem;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}
.quiz-ques h2{
    width: 90%;
    text-align: left;
}
.quiz-ques h3{
    cursor: pointer;
}
.quiz-ques h2 span{
    color: #0b99eb;
}

@media screen and (max-width: 688px){
    .quiz-ques{
        font-size: 1rem;
    }
};
