.quiz-container{
    background-color: rgb(1, 0, 12);
    padding-top: 10px;
}
.quiz-container h1{
    margin-top: 0;
    color: white;
    text-align: center;
    font-size: 3rem;
}
.quiz-container span{
    color: #3db4f8;
}
.all-quiz{
    width: 98%;
    margin: 0 auto;
    padding: 20px 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.show-text-animation{
    font-size:3em;
    position: relative;
    margin: 0;
    font-weight: 900;
    z-index: 1;
    overflow: hidden;
}
.show-text-animation::before{
    content: '';
    color: rgb(1, 0, 12);
    font-weight: 400;
    position: absolute;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    left: 30%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, rgb(1, 0, 12) 0%, rgb(1, 0, 12) 120%);
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        left: 30%
    }
    100%{
        left: 80%
    }
}
@media screen and (max-width: 992px) and (min-width: 689px) {
  .all-quiz {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 30px;
  }
}

@media screen and (max-width: 688px) {
  .all-quiz {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 50px;
  }
  .type-writer {
    font-size: 2rem;
  }
}